@media screen and (max-width: 992px) {
    html {
        font-size: 90%;
    }
    .main-wrap {
        max-width: 97%;

    }
    .wrap-block{
        width: 63%;
    }
    .wrap-aside {
        width:36%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
    .main-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .wrap-block {
        display: flex;
        flex-direction: column;
        width:100%;

    }
    .wrap-aside {
        width:90%;
        margin: 0 auto;
    }

    .one__description {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .one__text {
        font-size: 1rem;

        text-align: center;
        padding-top: 0;
    }

    .slider__item {
        padding-top: 6rem;
    }

    .grid__item {
        float: none;

    }

    .nav__list {
        display: none;
    }

    .nav__list--open,
    .nav__btn {
        display: block;
    }

    .nav__link {
        padding: 1rem;
        display: inline-block;
    }

    .one__text {
        margin: 20px;
    }
     .contacts__phone {
        display: none;
    }

}

@media screen and (max-width: 640px) {
    html {
        font-size: 100%;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }



    .advantage {
        display: block;
    }

    .grid__item,
    .advantage__item {
        width: 100%;
        margin-right: 0;
    }
}